*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d9d9d9;
}

.login-style {
    padding: 15px;
    /* background-color: rgb(30, 80, 218); */
    margin-top: 100px;
    border-radius: 15px;
}